/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/10/2014, 07:10:33 PM
    Author     : Usuario
*/

.corregido{
    color:green;

}


.noCorregido{
    color:red;

}

.corregidoAdmin{
    color:green;
    padding-left: 10px;
}


.noCorregidoAdmin{
    color:red;
    padding-left: 10px;
}


.tituloEvaluador{
    //border-bottom: 1px solid #e5e5e5;
    padding-left: 15px;
}

.tituloAdministrador{
    //border-bottom: 1px solid #e5e5e5;
    padding-left: 15px;
}




.tituloCorreccion{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
    font-size: 20px;
    margin-bottom: 35px;
}

.nombreColor{
    color:#008cba;
    display: inline
}

.checkbox{
    margin-top:0px;
}

form div {
    margin-bottom: 0px;
}

.sinMargen{
    padding-top: 0px;
    padding-bottom: 0px;
}

.itemDefensa{
    padding-top: 25px; 
    padding-bottom: 35px; 
    padding-right: 25px;
    padding-left: 10px;
    margin-left: 35px;
}

.inputDefensa{
    margin-left: 25px;
}

.inputErrorDefensa{
    border: none;
    margin-left: 25px; 
    background-color: tomato; 
    color: white;
}


.papel {
    display:block;
    position:relative;
    padding:22px;
    font-size:15.5px;
    height:507px;
    width:550px;
    line-height:21px;
    background:whitesmoke;
    border: 1px solid rgb(168, 168, 168);
    background-size: 570px 600px;
    background-repeat: repeat-y;
    overflow: scroll;
}
.papel:before, .papel:after {
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, .7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    position: absolute; 
    bottom: 15px;
    z-index: -1; 
    width: 50%;
    height: 20%;
    content: "";
}
.papel:before {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg); 
    -o-transform: rotate(-3deg);
}
.papel:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    right: 10px;
}


.descCaso{
    padding-left: 10px;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.casoActual {
    font-weight:bold;
}

.descPregunta{
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 16px;
}


.imagen {
    max-width: 200px;
    background: white;
    border: solid 1px #ddd;
    padding: 4px;
    margin: 10px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;

}
.imagen:hover{
    border-color: #c8c8c8;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}


.html5-progress-bar {

}
.html5-progress-bar progress {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
}
.html5-progress-bar progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 9px;
}
.html5-progress-bar progress::-webkit-progress-value {
    background: #cdeb8e;
    background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
    background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
    border-radius: 9px;
}
.html5-progress-bar progress::-moz-progress-bar {
    background: #cdeb8e;
    background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956));
    background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%);
    background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
    border-radius: 9px;
}
.html5-progress-bar .progress-value {
    line-height: 20px;
    margin-left: 1px;
    font-size: 15px;
    color: #555;
    height: 18px;
    float: right;
}


.btn-finish{ 
    font-size:13px; 
    background-color: rgb(41, 86, 184);
    border-color: rgb(41, 86, 184); 
    color:white;
}

.btn-finish:hover{
    color:white;
    background-color: rgb(19, 51, 121);
}

.btn-correccion{
    font-size: 13px; 
    background-color: rgb(134, 53, 134); 
    border-color: rgb(134, 53, 134); 
    color:white;
}

.btn-correccion:hover{
    color:white;
    background-color: rgb(92, 38, 92);
}

.btn-exportar{
    font-size: 13px; 
    background-color:#009900; 
    color: white;
}

    
.btn-exportar:hover{
    color:white;
    background-color: #047604;
}