<div style="text-align: center; padding-top: 100px;">
<div>
    <h3 style="text-align: center">El examen ha finalizado. Cualquier información ingresada no se almacenará en el sistema.</h3>
</div>
</div>