<div class="images view">
    <div class="container main-container">
    <div class="panel panel-primary user-actions" style="width: 15%;">
        <div class="panel-heading"><?php echo __('Actions'); ?></div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><?php echo $this->Html->link(__('Back to answer'), array('controller' => 'studentsanswers', 'action' => 'index')); ?></li>
            </ul>
        </div>
    </div>
        
        
<legend style="width: 80%;"><?php echo __('Image'); ?></legend>
<?php echo $this->Html->image($urlImagen);?>
</div>
</div>
