
	
	* {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		outline: none;
		font-size: 1em;
		text-decoration: none;
		-webkit-appearance: none;
		-webkit-text-size-adjust:none;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	
	.clear {
		clear:both;
		height:0;
		overflow:hidden;
		margin:-1px 0 0 0;
	}
	
	html, body{
		height: 100%;
	}
	
	body{
		background: url(../../img/404/brown_background.jpg) #342c30;
		font-family: "verdana", "arial";
		min-width: 1000px;
		min-height: 610px;
	}
	
	#content{
		display: block;
		position: relative;
		width: 100%; height: 50%;
		background-image: url(../../img/404/white_background.png);
	}
	
	#header{
		display: block;
		width: 100%; height: 100px;
		position: absolute; 
		top:0px; left:0px;
		z-index: 2;
		background-image:url(../../img/404/404_header.png);
		_background:none;
    	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/404/404_header.png', sizingMethod='scale');
	}
	
	#theset{
		display: block;
		height: 550px; width: 100%;
		position: absolute;
		bottom: -275px; left: 0px;
		background-image: url(../../img/404/404_layer0.png);
		z-index: 1;
	}
	
	.layer{
		position: absolute;
		bottom:0px; left: 0px;
		width: 100%;
	}
	
	#layer_one{
		height: 189px;
		background-image: url(../../img/404/404_layer1.png);
		_background: none;   
    	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/404/404_layer1.png', sizingMethod='scale'); 
	}
	
	#layer_two{
		height: 176px;
		background-image: url(../../img/404/404_layer2.png);
		_background: none;  
    	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/404/404_layer2.png', sizingMethod='scale');  
	}
	
	#layer_three{
		height: 215px;
		background-image: url(../../img/404/404_layer3.png);
		_background: none;   
    	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/404/404_layer3.png', sizingMethod='scale'); 
	}
	
	#layer_four{
		height: 87px;
		background: url(../../img/404/404_layer4.png) no-repeat center;
		_background: none;   
    	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/404/404_layer4.png', sizingMethod='scale');  
	}
	
	.clouds{
		position: absolute;
		top:0px; left: 0px;
		width: 100%;
	}
	
	#clouds_one{
		height: 62px; top:300px;
		background-image: url(../../img/404/404_clouds1.png);
		_background: none;   
    	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/404/404_clouds1.png', sizingMethod='scale');  
	}
	
	#clouds_two{
		height: 75px; top:200px;
		background-image: url(../../img/404/404_clouds2.png);
		_background: none;   
    	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/404/404_clouds2.png', sizingMethod='scale');  
	}
	
	#clouds_three{
		height: 175px; top:0px;
		background-image: url(../../img/404/404_clouds3.png);
		_background: none;   
    	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/404/404_clouds3.png', sizingMethod='scale');  
	}
	
	#zeplin{
		display: block;
		width: 100%; height: 53px;
		position: absolute;
		left:0px; top:160px;
		background: url(../../img/404/404_zeplin.png) no-repeat;
		background-position: 15% 0%;
		_background: none;    
	}
	
	#whall{
		display: block;
		width: 100%; height: 76px;
		position: absolute;
		left:0px; top:260px;
		background: url(../../img/404/404_failwhall.png) no-repeat;
		background-position: 80% 0%;
		_background: none;    
	}
	
	#info{
		position: absolute;
		left: 50%; bottom:5px;
		display: block;
		width: 370px; height: 388px;
		padding: 52px 0px 0px 230px;
		margin: 0px 0px 0px -300px;
		background: url(../../img/404/404_rabitandsign.png) no-repeat center bottom;
		_background:none;
    	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/404/404_rabitandsign.png', sizingMethod='normal'); 
	}
	
	#info h1{
		font-weight: 600;
		color: #7b3963;
		font-size: 40px;
		padding: 0px 0px 5px 0px;
	}
	
	#info p{
		padding: 5px 0px 15px 0px;
		font-size: 18px;
		line-height: 23px;
	}
	
	.button{
		display: block;
		width: 144px;
		height: 37px;
		margin: 0px 15px 0px 0px;
		text-indent: -10000em;
		float: left;
	}
	
	.button:hover{
		background-position: left center;
	}
	
	.button:active, .button:focus{
		background-position: left bottom;
	}
	
	#homeButton{
		background-image: url(../../img/404/404_homebutton.png);
	}
	
	
	