<div id="wheelContainer">
    <div id="wheel">
        <img id="hoy-image" src="/filomena/img/hoy-transparent.png" style="-webkit-transform: rotate(312.657534246575deg);">
        <img id="wheel-image" src="/filomena/img/inner-circle.png" style="-webkit-transform: rotate(0deg);">				
    </div>
    <div id="wheel-center">
        <div id="center-lastMenstrual"></div>
        <div id="center-dueDate"></div>
    </div>
</div>

<?php echo $this->Html->script('gestograma');
